{{ 'section-product-comment.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="product-comment padding-sider">
  <div id="comment-data" style="display: none;">
    {{ product.metafields.custom.comment.value | json }}
  </div>
  <div class="product-comment-head">
    <span>Reviews（{{ product.metafields.custom.comment.value.size }}）</span>
    <div class="product-comment-btn">
      {{- 'icon-message.svg' | inline_asset_content -}}
      comment
    </div>
  </div>
  <div id="comments-container">
    <div id="comments-list"></div>
    <div class="comments-pagination">
      <div id="prev-page">{{- 'arrow-left.svg' | inline_asset_content -}}</div>
      <div id="page-numbers"></div>
      <div id="next-page">{{- 'arrow-right.svg' | inline_asset_content -}}</div>
    </div>
  </div>
  <div id="comments-modal">
    <div class="comments-modal-content">
      <div class="comments-modal-header">
        <span>comment</span>
        <img src="{{- 'icon-close.png' | asset_img_url: '36x' -}}" width="36" height="36">
      </div>
      <form id="comment-form">
        <div class="flex-center">
          <div>
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" required>
          </div>
          <div>
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" required>
          </div>
        </div>

        <div>
          <label for="comment">Comment</label>
          <textarea id="comment" name="comment" required rows="20"></textarea>
        </div>

        <div>
          <label for="image">Upload Image</label>
          <input type="file" id="image" name="images" accept="image/*">
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "product-comment-ext",
  "target": "section",
  "settings": []
}
{% endschema %}
