{{ 'section-product-comment.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="product-comment padding-sider">
  <div id="comment-data" style="display: none;">
    {{ product.metafields.custom.comment.value | json }}
  </div>
  <div class="product-comment-head">
    <span>Reviews（{{ product.metafields.custom.comment.value.size }}）</span>
    <div class="product-comment-btn">
      {{- 'icon-message.svg' | inline_asset_content -}}
      comment
    </div>
  </div>
  <div id="comments-container">
    <div id="comments-list"></div>
    <div class="comments-pagination">
      <div id="prev-page">{{- 'arrow-left.svg' | inline_asset_content -}}</div>
      <div id="page-numbers"></div>
      <div id="next-page">{{- 'arrow-right.svg' | inline_asset_content -}}</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "product comment",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "product comment"
      }
    ]
  }
  {% endschema %}